.tai-yue-icon {
  display: inline-block;
  width: auto;
  height: 16px;
  line-height: 1;
  box-sizing: border-box;
  vertical-align: middle;
  margin-bottom: 0.2rem;
}

.text-slate-blue {
  color: #5fb8f4 !important;
}

.bg-slate-blue-lighten {
  background-color: #6f7fe7 !important;
  border-color: #6f7fe7 !important;
}

.bg-slate-blue-darken {
  background-color: #5568e2 !important;
  border-color: #5568e2 !important;
}

.text-light-sky-blue {
  color: #28c9e9;
}

.bg-light-sky-blue-lighten {
  background-color: #e7f5ff !important;
  border-color: #e7f5ff !important;
}

.bg-light-sky-blue-darken {
  background-color: #d3ebfc !important;
  border-color: #d3ebfc !important;
}

.bg-sky-blue-2-lighen {
  background-color: #e7fafe !important;
  border-color: #e7fafe !important;
}

.bg-sky-blue-2-darken {
  background-color: #d2f5fc !important;
  border-color: #d2f5fc !important;
}

.text-light-purple {
  color: #ab83f5 !important;
}

.bg-light-purple {
  background-color: #eee3ff !important;
  border-color: #eee3ff !important;
}

.bg-light-purple-darken {
  background-color: #e1d2fc !important;
  border-color: #e1d2fc !important;
}

.text-light-pink {
  color: #d16de4 !important;
}

.bg-light-pink {
  background-color: #fbe8fe !important;
  border-color: #fbe8fe !important;
}

.bg-light-pink-darken {
  background-color: #f9d8fe !important;
  border-color: #f9d8fe !important;
}

.bg-yellow-panel {
  background-color: #f3d354 !important;
  border-color: #f3d354 !important;
}

.max-lines-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nav-pills.tai-yue-nav-pills .nav-link.active {
  box-shadow: var(--bs-box-shadow-sm);
}

.nav-pills.tai-yue-nav-pills .nav-link.active::before {
  --size: 0.7rem;
  content: "";
  position: absolute;
  left: calc(50% - var(--size));
  bottom: calc(var(--size) * -1 + 1px);
  width: 0;
  height: 0;
  display: block;
  border-top: var(--size) solid;
  border-top-color: inherit;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: none;
  z-index: 1;
}

.nav-pills.tai-yue-nav-pills .nav-link:has(.tai-yue-pill-icon) {
  position: relative;
  padding-right: 5rem;
}
.nav-pills.tai-yue-nav-pills .nav-link:has(.tai-yue-pill-icon) .tai-yue-pill-icon {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 0.6rem;
  border-radius: inherit;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 35%;
}
.nav-pills.tai-yue-nav-pills .nav-link:has(.tai-yue-pill-icon) .tai-yue-pill-icon .tai-yue-icon {
  height: 1.2rem;
  z-index: 1;
}
.nav-pills.tai-yue-nav-pills .nav-link:has(.tai-yue-pill-icon) .tai-yue-pill-icon::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: inherit;
  border: inherit;
  border-radius: inherit;
}

.carousel.slide.tai-yue-carousel .carousel-indicators button:not(.carousel-control-prev, .carousel-control-next) {
  border: 0.3rem solid #adb5bd;
  background: #adb5bd;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  opacity: 0.25;
}
.carousel.slide.tai-yue-carousel .carousel-indicators button:not(.carousel-control-prev, .carousel-control-next).active {
  opacity: 1;
}
.carousel.slide.tai-yue-carousel .carousel-indicators .carousel-control-prev,
.carousel.slide.tai-yue-carousel .carousel-indicators .carousel-control-next {
  position: initial;
  background: transparent;
}
.carousel.slide.tai-yue-carousel .carousel-indicators .carousel-control-prev [class*=carousel-control-],
.carousel.slide.tai-yue-carousel .carousel-indicators .carousel-control-next [class*=carousel-control-] {
  filter: brightness(0.5);
  background-size: contain;
  background-position: center;
  width: 1rem;
  height: 1rem;
}

.carousel.slide.tai-yue-carousel.tai-yue-carousel-dark .carousel-indicators button:not(.carousel-control-prev, .carousel-control-next) {
  border-color: white;
  background: white;
  opacity: 1;
}
.carousel.slide.tai-yue-carousel.tai-yue-carousel-dark .carousel-indicators button:not(.carousel-control-prev, .carousel-control-next).active {
  border-color: black;
  background: black;
}
.carousel.slide.tai-yue-carousel.tai-yue-carousel-dark .carousel-indicators .carousel-control-prev [class*=carousel-control-],
.carousel.slide.tai-yue-carousel.tai-yue-carousel-dark .carousel-indicators .carousel-control-next [class*=carousel-control-] {
  filter: brightness(0);
}/*# sourceMappingURL=style.css.map */